<h1>Listing Users</h1>
<table class="table">
<%= for user <- @users do %>
<tr>
<td><b><%= user.first_name %></b> (<%= user.id %>)</td>
<td><%= link "View", to: Routes.auth_path(@conn, :show, user.id) %></td>

</tr>
<% end %>
</table>